training_of_price_predictive_model/merged_dataset.csv filter=lfs diff=lfs merge=lfs -text
scrapping_using_Openmaps/scrapping_for_Gdańsk_using_Openstreetmap/cache/*.json filter=lfs diff=lfs merge=lfs -text
scrapping_using_Openmaps/scrapping_for_Gdańsk_using_Openstreetmap/cache/c69ba792b0230cd9006cd8cdfc2426b0bf34ff98.json filter=lfs diff=lfs merge=lfs -text
