# środowisko wirtualne
.venv-tf/
.venv-tf/.venv-tf/

# pliki .pbf z geofabrik
scrapping_using_Openmaps/geoFabric_try/geofabrik_pbf_files/*.osm.pbf

# wyekstrahowane miasta
scrapping_using_Openmaps/geoFabric_try/extracted_cities/*.osm.pbf

# tymczasowe dane GeoJSON itp.
scrapping_using_Openmaps/geoFabric_try/temp_osm_data/*

#osmium extract -b 14.12,49.0,24.15,54.84 --with-history history-230807.osm.pbf -o poland-230807.osm.pbf --overwrite